<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container py-3">
    <div th:replace="blocks/navigation :: header"></div>
    <form action="/add" method="post" class="w-50 mb-3 card p-3">
        <h4>Добавление</h4>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" name="author" id="author" placeholder="Автор" required>
            <label for="author">Автор</label>
        </div>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" name="title" id="title" placeholder="Наименование" required>
            <label for="title">Наименование</label>
        </div>
        <div class="form-floating mb-1">
            <input type="number" class="form-control" name="numberOfPages" id="numberOfPages"
                   placeholder="Количество страниц" required>
            <label for="numberOfPages">Количество страниц</label>
        </div>
        <div class="form-floating mb-1">
            <input type="number" class="form-control" name="publishingYear" id="publishingYear"
                   placeholder="Год издательства"
                   required>
            <label for="publishingYear">Год издательства</label>
        </div>
        <div class="form-floating mb-1">
            <input type="number" class="form-control" name="price" id="price" placeholder="Стоимость" required>
            <label for="price">Стоимость</label>
        </div>
        <div class="form-check mb-2 mt-2">
            <input type="checkbox" class="form-check-input" name="inStock" id="inStock">
            <label class="form-check-label" for="inStock">В наличии</label>
        </div>
        <button type="submit" class="btn btn-primary w-25">Сохранить</button>
        <th:block th:if="${errorMessage != null}">
            <h6 th:utext="${errorMessage}" class="text-bg-danger p-2 rounded mt-2 mb-0"></h6>
        </th:block>
    </form>
    <form action="/add-file" method="post" class="w-50 mb-3 card p-3">
        <h4>Или загрузите файл</h4>
        <div class="input-group">
            <input type="file" class="form-control" id="file" name="file" aria-describedby="inputGroupFileAddon04"
                   aria-label="Загрузить" required>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
        <th:block th:if="${errorFileMessage != null}">
            <h6 th:utext="${errorFileMessage}" class="text-bg-danger p-2 rounded mt-2 mb-0"></h6>
        </th:block>
    </form>
</div>
</body>
</html>